body {
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
    background-image: url(/background.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

#root {
    background-color: white;
    border-radius: 10px;
}

main {
    text-align: center;
    width: clamp(600px, 1000px, 1500px);
    h1 {
        margin-top: 40px;
    }
}

footer {
    background-color: hsl(241, 100%, 45%);
    color: white;
    margin: 0;
    padding-block: 5px;
    font-weight: 600;

    p {
        margin: inherit;
    }

    a {
        color: hsl(354, 100%, 45%);
    }

    a:hover,
    a:focus {
        color: hsl(309, 100%, 50%);
    }
}

.selection-menu {
    text-align: center;
    margin-block: 80px;
    padding-inline: 100px;

    .selection-item {
        display: flex;
        justify-content: space-between;
        margin-block: 30px;

        label {
            margin-top: 10px;
            font-weight: 500;
            font-size: 1.5rem;
        }

        select {
            width: 300px;
            height: 50px;
            text-align: center;
            font-family: inherit;
            font-size: 1rem;
            border-radius: 4px;
            border: none;
            background-color: #f0f0f0;
            box-shadow: 3px 3px #a7a7a7;
        }
    }
    button {
        font-family: inherit;
        font-weight: bold;
        font-size: 1.25rem;
        color: white;
        margin-top: 30px;
        height: 50px;
        width: 200px;
        border-radius: 10px;
        border: none;
        background-color: hsl(241, 100%, 45%);

        &:hover,
        &:focus {
            background-color: hsl(241, 100%, 35%);
            cursor: pointer;
        }

        &:active {
            background-color: hsl(241, 100%, 25%);
        }
    }
}

.quiz {
    padding: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;

    p {
        font-size: 1.5rem;
        margin: 10px;
    }

    .done-button {
        font-family: inherit;
        font-weight: bold;
        font-size: 1.25rem;
        color: white;
        height: 50px;
        width: 200px;
        border-radius: 10px;
        border: none;
        background-color: hsl(241, 100%, 45%);
        align-self: center;

        &:hover,
        &:focus {
            cursor: pointer;
            background-color: hsl(241, 100%, 35%);
        }

        &:active {
            background-color: hsl(241, 100%, 25%);
        }
    }

    .quiz-button {
        font-size: 1.25rem;
        font-family: inherit;
        padding: 4px;
        margin: 10px;
        border-radius: 10px;
    }

    .pressed {
        background-color: rgb(161, 255, 161);
        border: black 2px solid;
    }

    .right {
        background-color: rgb(161, 255, 161);
    }

    .wrong {
        background-color: rgb(255, 161, 162);
    }

    .score-container {
        display: flex;
        justify-content: space-around;
        align-items: center;

        p {
            font-weight: bold;
            font-size: 2rem;
        }
    }
}
